<div class="outer">
    Room code: {{ room_code }}
    <hr>
    <div class="option_container">
        <span>You prefer:</span>
        {{option_a|safe}}
        <span>over:</span>
        {{option_b|safe}}
    </div>
    <hr>
    <div class="decision_container">
        <span>No</span>
        <button hx-post="/do" hx-target=".outer" type="button" hx-vals='{"value":0.2}'>-2</button>
        <button hx-post="/do" hx-target=".outer" type="button" hx-vals='{"value":0.5}'>-1</button>
        <button hx-post="/do" hx-target=".outer" type="button" hx-vals='{"value":1}'>0</button>
        <button hx-post="/do" hx-target=".outer" type="button" hx-vals='{"value":2}'>+1</button>
        <button hx-post="/do" hx-target=".outer" type="button" hx-vals='{"value":5}'>+2</button>
        <span>Yes</span>
    </div>
</div>